* {
    font-family: sans-serif;
}
body {
    margin: 0 30%;
    background-color: aliceblue;
}

img {
    width:100%;
}

.body {
    background-color:white;
    padding: 5%;
}

.flavortext {
   font-family: 'Silkscreen', cursive;
   font-style: italic;
}