.oluwa {
    border: 2px solid brown;
    padding: 50px 30px 20px 15px;
    margin: 30px;
}
.abena {
    border: 2px solid rgb(177, 22, 76);
    padding: 50px 30px 20px 15px;
    margin: 40px;
}