h1 {
    font-family: 'Dancing Script', cursive;
    color: maroon;
}

header {
    margin: auto;
    display: flex;
    justify-content: center;
}

nav {
    margin: auto;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    width: 75%;
}
